@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:100,400);



html, body { 
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.005);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #555;
    font-size: 16px;
    background-color: #F1F3F7;
}

h1,h2,h3,h4,h5,h6 { 
    margin: 0;
    font-family: "Open Sans" !important;
}

i { 
    margin: 0;
    padding: 0;
}

a{ 
    text-decoration: none;
}

b { 
    font-weight: 700;
}

h2 {
    margin-bottom: 20px;
}

#hide-left { 
    display: none;
}

label[for='hide-left'] { 
    position: fixed;
    left: 5%;
    bottom: 2%;
    width: 30px;
    background: #DCE1E4;
    height: 30px;
    color: #3498DB;
    z-index: 1001;
    text-align: center;
    border-radius : 0 20px 20px 0;
    transition: all .5s ease;
}

label[for='hide-left']:before { 
    font-family: FontAwesome;
    content: "\f053";
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
    margin-top: 2px;
    margin-left: -10px;
    transition: all .5s ease;
    display: inline-block;
    cursor: pointer;
    transform: rotateY(180deg);
}

input[type=checkbox]:checked.hide-left ~ .fixed-left-menu{ 
    width: 15%;
}

input[type=checkbox]:checked.hide-left ~ .fixed-left-menu > .menu-group > .menu > .menu-item{ 
    text-align: left !important;
    width: 90%;
    padding: 5%;
}

input[type=checkbox]:checked.hide-left ~ .fixed-left-menu > .menu-group > .menu > .menu-item > span{ 
    display: inline;
}


input[type=checkbox]:checked.hide-left + label[for='hide-left'] {
    left: 15%;
}
input[type=checkbox]:checked.hide-left + label[for='hide-left']::before {
    transform:  rotateY(360deg);
}
input[type=checkbox]:checked.hide-left ~ .responsive-right { 
    width: 80%;
    left: 15%;
}
input[type=checkbox]:checked ~ .responsive-right .sticky {
    width: 4%;
    left: 19.4%;
}
/** LEFT MENU **/
div.fixed-left-menu {
    position: fixed;
    top: 7%; left: 0;
    width: 5%;
    height: 93%;
    background: #E8EBF2;
    z-index: 1000;
    transition: all .5s;
    border-right: 3px solid #DCE1E4;
}

.fixed-left-menu > .menu-group { 
    position: relative;
    top: 0; left: 0;
    padding: 0; margin: 0;
    width: 100%;
    height: auto;
}

.menu-group > .menu { 
    position: relative;
    width: 100%;
    height: auto;
    left: 0; top: 0;
    margin: 0; padding: 0;
    margin-bottom: 10%;
}  

.menu > .menu-item { 
    position: relative;
    display: block;
    width: 90%;
    padding: 15% 5% 15% 5%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: .8em;
    color: #16191C;
    text-decoration: none;
    text-align: center !important;
    transition: all .5s;
}

.menu > .menu-item:hover { 
     color: #3084BB !important;
    -webkit-box-shadow: inset 23px 0px 0px -19px rgba(52,152,219,1);
    -moz-box-shadow: inset 23px 0px 0px -19px rgba(52,152,219,1);
    box-shadow: inset 23px 0px 0px -19px rgba(52,152,219,1);
}

.menu-item > span { display: none; }

.menu > .dashboard::before { 
    font-family: FontAwesome;
    content: "\f0e4";
    font-size: 1.6em;
    margin-right: 10%;
}

.menu > .messages::before { 
    font-family: FontAwesome;
    content: "\f27a";
    font-size: 1.6em;
    margin-right: 10%;
}

.menu > .all-posts::before { 
    font-family: FontAwesome;
    content: "\f187";
    font-size: 1.6em;
    margin-right: 10%;
}

.menu > .create-post::before { 
    font-family: FontAwesome;
    content: "\f044";
    font-size: 1.6em;
    margin-right: 10%;
}

.menu > .all-users::before { 
    font-family: FontAwesome;
    content: "\f0c0";
    font-size: 1.6em;
    margin-right: 10%;
}

.menu > .add-user::before { 
    font-family: FontAwesome;
    content: "\f234";
    font-size: 2em;
    margin-right: 10%;
}

.selected { 
    color: #3084BB !important;
    -webkit-box-shadow: inset 23px 0px 0px -19px rgba(52,152,219,1);
    -moz-box-shadow: inset 23px 0px 0px -19px rgba(52,152,219,1);
    box-shadow: inset 23px 0px 0px -19px rgba(52,152,219,1);
}
.selected:hover {
    color: #3084BB !important;
}

/** Fixed Top
*******************************/
header.fixed-top { 
    position: fixed;
    width: 100%;
    height: 7%;
    top: 0; left: 0;
    background: #3498DB;
    z-index: 1002 !important;
}

.fixed-top::after { content: ""; display: block; clear: both; }

.fixed-top  .logo { 
    position: relative;
    width: 15%;
    height: 100%;
    text-align: center;
    background: #2980B9;
    float: left;
}

.logo > img { 
    width: auto;
    height: 100%;
}

.fixed-top > .drop-menu { 
    float: right;
    width: 15%;
    height: 100%;
    margin-right: 5%;
    background: red;
}

.drop-menu > .drop-menu-title { 
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    font-size: .9em;
    color: #fff;
    cursor: pointer;
    background: #2980B9;
    font-family: "Lato";
}

.drop-menu-title::after {
    font-family: FontAwesome;
    content: "\f0dd";
    display: inline;
    margin-left: 5px;
    position: relative;
    top: -2px;
}

.drop-menu > .drop-menu-items { 
    position: relative;
    width: 100%;
    height: auto;
    background: #fff;
    top : 0;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 0px 12px 16px -2px rgba(184,184,184,0.54);
    -moz-box-shadow: 0px 12px 16px -2px rgba(184,184,184,0.54);
    box-shadow: 0px 12px 16px -2px rgba(184,184,184,0.54);
    z-index: 1001 !important;
    display: none;
}

.user::before { 
    font-family: FontAwesome;
    content: "\f007";
    padding-right: 5%;
}

.settings::before { 
    font-family: FontAwesome;
    content: "\f013";
    padding-right: 5%;
}

.logout::before { 
    font-family: FontAwesome;
    content: "\f08b";
    padding-right: 5%;
}

.drop-menu-items > .drop-menu-item { 
    display: block;
    padding: 2.5% 10% 2.5% 10%;
    color: #999999;
    font-size: .9em;
    font-family: "Lato";
}

.drop-menu-item:hover { 
    background: #e5e5e5;
}



/** Responsive Right
********************************/

.responsive-right { 
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0; padding: 0;
    top: 7%; left: 5%;
    transition: all .5s;
    padding: 2% 2.5% 2% 2.5%;
}

.responsive-right  h2 { 
    color: #3C9CDC;
    font-family: "Oxygen";
    font-weight: 300;
    font-size: 1.8em;
    padding-left: 1.5%;
}

.summary { 
    position: relative;
    width: 100%;
    height: 15%;
    margin-top: 2.5%;
}

.summary::after { content: ""; display: block; clear: both; }

.summary > .summary-item {
    position: relative;
    width : 24.25%;
    height: 100%;
    float: left;
    margin-right: 1%;
    background: #FFFFFF;
    border-radius : 4px;
    -webkit-box-shadow: 3px 3px 15px -7px rgba(184,184,184,1);
    -moz-box-shadow: 3px 3px 15px -7px rgba(184,184,184,1);
    box-shadow: 3px 3px 15px -7px rgba(184,184,184,1);
}

.summary > .summary-item:last-child{ 
    margin-right: 0;
}

.summary-item > .summary-logo { 
    position: relative;
    width: auto;
    height: auto;
    float: left;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    padding: 5% 7%;
    top: 20%; left: 10%;
    border-radius: 50%;
    font-size: 2em !important;
}

.summary-item > .right-data { 
    position: relative;
    width: 70%;
    height: 100%;
    float: left;
    text-align: right;
}

.right-data > .data-type { 
    position: relative;
    top: 17%;
    width: 90%;
    height: 25%;
    font-size: 1.2em;
    font-family: "Open Sans";
    font-weight: 100;
    padding-right: 10%;
    color: #344644;
}

.right-data > .data-count { 
    position: relative;
    top: 17%;
    width: 90%;
    height: 40%;
    font-size: 2.1em;
    font-weight: 600;
    padding-right: 10%;
    font-family: "Open Sans";
    color: #344644;
}

.blue-bg { 
    background-color : #3498DB;
}

.red-bg { 
    background-color: #E74C3C;
}

.green-bg { 
    background-color: #2ECC71;
}

.yellow-bg { 
    background-color: #F1C40F
}

.stats { 
    position: relative;
    margin-top: 2%;
    width: 100%;
    height: 50%;
}

.visitor-map { 
    position: relative;
    width: 35%;
    height: 100%;
    border-right: 1px solid #ddd;
}


/**
 *  SHOWALL POSTS CSS
 ********************************/
.search { 
    position: relative;
    margin-bottom: 3%;

}

.search > input { 
    width: 100%;
    margin: 0;
    padding-left: 14%; padding-right: 2%;
    border: none;
    background-size : 200% 100%;
    background-position: right bottom;
    background-image: linear-gradient(to right, #E8E8E8 50%, #F1F3F7 50%);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    z-index: 1002;
    border: 1px solid #E8E8E8;
    border-radius : 20px;
    color: #565656;
    font-weight: 600;
}

.search > input:hover, .search > input:focus { 
    border: 1px solid #E8E8E8;
    background-position: left bottom;
    background-size: 200% 100%;
    opacity: 1;
}



.search > label { 
    border-radius : 20px 0 0 20px;
    font-weight: 300;
    position: absolute;
    font-size: 1rem;
    text-align: center;
    line-height: 38px;
    top: 0; left: 0;
    width: 12%;
    height: 100%;
    border: none;
    background: #3498DB;
    color: #fff;
    z-index: 10003;
}

.search > .search-results{
    position: absolute;
    width: 85%;
    top: 100%;
    left: 12%;
    background-color: #E8E8E8;
    z-index: 1001;
    list-style-type: none;
    padding: 0;margin: 0;
    border-radius : 0 0 20px 20px;
    -webkit-box-shadow: 0px 16px 12px 2px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 16px 12px 2px rgba(0,0,0,0.35);
    box-shadow: 0px 16px 12px 2px rgba(0,0,0,0.35);
    display: none;
}

.search-results > .result-item {
    width: 100%;
}
.search-results > .result-item:last-child > a{ 
    border-radius: 0 0 20px 20px;
}

.result-item > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1%;
    text-decoration: none;
    font-family: "Lato";
    font-weight: 400;
    color: #2980B9;
}

.result-item > a:hover, .result-item > a:focus{
    background: #cecece;
}

.post-row {
    position: relative;
    top: 0; left: 0;
    width: 100%;
    min-height: 10%;
    margin-bottom: 2%; 
}
.post-row::after { display: block; content: ""; clear: both; }

.post-row > .post { 
    position: relative;
    width: 47.5%;
    min-height: 100%;
    float: left;
    padding-bottom: 1%;
}
.post::after { display: block; content: ""; clear: both; }
.post-row > .post:first-child { 
    margin-right: 5%;
}

.post > .post-date { 
    width: 10%;
    height: auto;
    float: left;
    text-align: center;
    background-color: #3498DB;
    color: #fff;
    border-radius: 20px 0 0 20px;
}

.post-date > p { 
    width: 100%;
    height: 33.33333333333%;
    margin: 0;
    display: block;
    font-family: "Lato";
    font-weight: 100;
}

.post-date > p:first-child { font-weight: 400; padding-bottom: 5px; padding-top: 5px; font-size: 2rem;}
.post-date > p:nth-child(2) { font-family: "Oxygen"; font-weight: 700;}
.post-date > p:last-child { font-weight: 400; font-size: .9em; padding-bottom: 10px;}

.post > .post-content { 
    width: 89.5%;
    height: auto;
    float: left;
    background-color: #e8e8e8;
    border-top: 5px solid #3498DB;
    padding-bottom: 2%;
    z-index: 2;
    border-radius: 0 0 20px 0;
}

.post-content > h3 { 
    font-family: "Open Sans";
    width: 100%;
    height: auto;
    padding: 0;
    font-size: 1.6rem;  
    color: #fff;
    background-color: #2980B9;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.post-content > p { 
    font-family: "Open Sans";
    margin: 0;
    width: 94%;
    min-height: 35px;
    height: 100%;
    padding: 0;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    font-size: .9rem;
}
.post:hover > .post-controls { 
    right: 5%;
    opacity: 1;
}

.post > .post-controls { 
    position: absolute;
    width: 30%;
    height: 20px;
    right: 30%;
    top: -20px;
    text-align: center;
    background: #3498DB;
    z-index: 1;
    opacity: 0;
    transition: all .5s;
    border-radius: 5px 5px 0 0;
}

.post-controls::after { display: block; content: " "; clear: both; }

.post-controls > a{
    display: block;
    position: relative;
    float: left;
    text-decoration: none;
    width: 33.3333333%;
    color: #ddd;
    font-size: .85rem;
    font-family: "Open Sans";
    font-weight: 100;
}

.post-controls > a:hover { 
    color: #fff;
}


/**********
 * Post creation and editing
 ***************************/
input, select, label, textarea,button { 
    width: 100%;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #dadada;
}

input { 
    height: 40px;
    font-size: .9rem;
    border-bottom: 1px solid #dadada;
}

input:focus, input:hover, select:focus, select:hover, textarea:focus, textarea:hover {  
    border-bottom: 1px solid #3498DB;
}

select { 
    height: 40px;
}

h2 > input { 
    background: none;
    width: 90%;
    margin: 0;
    font-size: 1.7rem;
}

input[type=submit]{     
    background: #dadada;
    margin-bottom: 2%;
}

textarea { 
    border-bottom: 1px solid #dadada;
    font-size: .9em;
    min-height: 600px;
    padding: 10px;
    resize: vertical;
    border-left: 1px solid #AAAAAA;
}

textarea:hover, textarea:focus{
    border-left: 1px solid #3498DB;
}

input, textarea, select { 
    width: 97%;
    margin-left: 3%;
    background: #ddd;
    border-bottom: 1px solid #AAAAAA;
}

label
{
    border: none;
    display: block;
    font-size: 1.3rem;
    font-weight: 700;
}

.flash-message {
    width: 100%;
    height: 7%;
    background: #2ecc71;
    text-align: center;
    font-size: 1.2rem;
    padding: .5% 0%;
    color: #ededed;
    margin-bottom: 2%;
}

.form-group { 
    width: 100%;
    padding: .5% 5%;
    border-left: 10px solid #aaa;
    background: #ddd;
}

.form-group:last-child {  
    background: none;
    border: none;
}

.form-group:last-child > input { 
    background: #3498DB;
    border: none;
    color: #ddd;
    transition: all .5s;
}

.form-group:last-child > input:hover { 
    background : #2980B9;
}

.error{
    display: block;
    width: 100%;
    padding: 1%;
    background: #e74c3c;
    color: #7f0a00;
}

button{
    height: 40px;
    font-size: .9rem;
    background: #2ecc71;
    margin-bottom: 1%;
    width: 97%;
    margin-top: 2%;
    margin-left: 3%;
    color: #ddd;
    transition: all .5s;
}

button:hover { 
    background: #27ae60;
}

.content-menu{
    position: absolute;
    width: 5%;
    left: 5.5%;
    height: auto;
    list-style-type: none;
    margin: 0;
    padding: 5px 0px 5px 0px;
    text-align: center;
    background: #AAAAAA;
}

.sticky {
    position: fixed;
    width: 4.5%;
    left: 9.95%;
    top: 50px;
    z-index: 100;
    border-top: 0;
    transition: all .5s;
    z-index: 9999;
}

.content-menu > .content-menu-item{
    display: block;
    position: relative;
    width: 80%;
    left: 10%;
    margin: 3px 0px 3px 0px;
    padding: 0;
    font-size: .9rem;
    font-weight: 700;
    cursor: pointer;
}

.content-menu .content-menu-item:hover {
    background: #DDDDDD;
}

.content-menu .content-menu-separator::after {
    display: block;
    margin: 3px 0 3px 0;
    padding: 0;
    content: "";
    border-top: 1px solid #DDDDDD;
}

#upload-file{
    width: 100%;
    min-height: 300px;
    color: #3498DB;
}

button.delete {
    background-color: #f44336;
}


/**
 * Modal box css
 */

#overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 9999999;
}

.image-box {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 600px;
    margin-top: -300px;
    margin-left: -400px;
    background: #ecf0f1;
    z-index: 10000000;
}

.image-box-header {
    position: relative;
    top: 0; left: 0;
    width: 100%;
    height: 50px;
}

.image-box-header-title {
    margin: 2px auto;
    padding: 0;
    display: inline;
    font-family: "Open-Sans";
    font-weight: 700 !important;
    float: left;
}

.image-box-header-close {
    float: right;
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
}

.image-box-header-close > i:hover {
    cursor: pointer;
    color : #7f8c8d;
}

.image-box-tabs {
    position: relative;
    width: 100%;
    height: 30px;
    margin: 0; padding: 0;
    background: #bdc3c7;
}

.image-box-tabs .image-box-tab {
    width: 100px;
    height: 30px;
    padding: 0;
    margin: 0;
    float: left;
    margin-left: 20px;
    text-align: center;
    font-weight: 400;
    padding-top: 5px;
    background: #adadad;

}

.image-box-tab:hover {
    background: #adadad;
    cursor: pointer;
}

.image-box-selected {
    background: #3C9CDC !important;
    color: #fff;
}
.image-box-selected:hover {
    background: #3C9CDC !important;
}

.pictures {
    width: 100%;
    height: 520px;
    background: #fff;
    overflow-y : scroll;
}

.box {
    position: relative;
    display: block;
    width: 185px;
    height: 185px;
    background: red;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.box > .box-bg {
    position: relative;
    width: 100%;
    height: 100%;
    cursor : pointer;
}

.upload {
    width: 100%;
    height: 520px;
    background: #3C9CDC;
    display: none;
    overflow-y : scroll;
}

.upload > form { 
    width: 100%;
    height: 100%;
    background: #fff;
    border: none;
}

.dz-image { 
    background-color: #3C9CDC !important;
}