@import url(https://fonts.googleapis.com/css?family=Lato:100,400);
html { height: 100%; }
body { 
    width: 100%;
    height: 100%;
    margin: 0;
    display: table;
    
    background: url(../images/bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    padding: 0;
    font-family: 'Lato', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.005);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #555;
    overflow-x: hidden;
    font-size: 16px;}

h1 { font-size: 4em; font-weight: 100; font-family: 'Lato', sans-serif !important; }
*:focus { outline: none; }

/** Main login **/
main.login {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

main.login div.box { 
    position: relative;
    width: 40%;
    height: 60%;
    margin: 0 auto;
    text-align: left !important;
}

div.box > h1{ 
    position: relative;
    width: 100%;
    height: 25%;
    margin-bottom: 0;
    text-align: center;
    border-bottom: 1px solid #555;
}

div.box > div.inner-box {
    position: relative;
    width: 100%;
    height: 75%;
    top: 0; left: 0;    
}

form { width: 100%; height: 100%;}

div.inner-box > form > input#username, input#password { 
    width: 58%;
    height: 20%; 
    margin-left: 5%;
    padding-left: 32%;
    font-size: 2em;
    font-weight: 100;
    font-family: "Lato", sans-serif !important;
    border: none;
    background: none;
    animation: colorful-text 1.5s alternate infinite;
}

input#username { font-weight: 400 !important; }

label[for='username']::before { 
    font-family: FontAwesome; 
    content: "\f007";
    font-size: 1.4em;
    padding-right: 1.5%;
}

label[for='password']::before {
    font-family: FontAwesome;
    content: "\f023";
    font-size: 1.4em;
    padding-right: 1.5%;
}

div.inner-box > form > label { 
    position: relative;
    font-size: 1.5em;
    top: 16%;
    left: 6%;
    cursor: pointer;
}

input[type="submit"] { 
    width: 40%; 
    height: 20%;
    position: relative;
    left: 40%; top: 5%;
    border: none;
    outline: none;
    font-size: 1.7em;
    cursor: pointer;
    color: #5b5b5b;
    font-family: "Lato", sans-serif !important;
    font-weight: 100 !important;
    transform: skewY(-190deg);
    transition: all 1.5s;
    background: #ddd;
}

input[type="submit"]:hover { 
    animation: colorful 1.5s alternate infinite;
}

@keyframes colorful { 
    0% { 
        background: rgb(219,146,0);
    }
    50% { 
        background: rgb(135,214,0);
    }
    100% {
        background: rgb(0,163,244);       
    }
}

@keyframes colorful-text { 
    0% { 
        color: rgb(219,146,0);
    }
    50% { 
        color: rgb(135,214,0);
    }
    100% {
        color: rgb(0,163,244);       
    }
}