/** Universal
********************************/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300,300italic,700,600italic);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

* {
    box-sizing: content-box !important; 
}

body { 
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.005);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #555;
    overflow-x: hidden;
    font-size: 16px;}
#overlay { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0,0,0,0.5);
    display: none;
}

ul { margin:0; padding: 0; }

h1 { margin: 0 0 1em 0; font-size: 2.3em; font-weight: 400; font-family: 'Oxygen', sans-serif !important; }
h2 { margin: .5em 0 .5em 0; font-size: 1.6em; font-weight: 600; line-height: 1.1em; }
h3 { margin: 0 0 .5em 0; font-size: 1.3em; font-weight: 700; }
h3 { margin: 0 0 1.5em 0; font-size: 1em; font-weight: 700; }
p { display: block; font-size: .9em; color: #5b5b5b; font-family: 'Oxygen', sans-serif; font-weight: 400; }
a { text-decoration: none !important;}

.active { color: #fff; }

.hidden { display: none; }

/** Section - fixed-left
********************************/

section.fixed-left {
    position: fixed;
    width: 20.83333333333333%;
    height: 100%;
    z-index: 1002;
    background: #28AADC;}
    /**Header - logo**/
    section.fixed-left > header.logo { 
        position: relative;
        top: 0; left: 0;
        margin: 0; padding: 0;
        width: 100%;
        height: auto;
        padding-top: 10%;
        padding-bottom: 10%;}
        section.fixed-left > header.logo  img { 
            position: relative;
            display: block; width: 25%; height: auto;
            margin: 0 auto;
            }
        section.fixed-left > header.logo:hover  img{ 
            transition: all 1s ease;
            transform: rotateY(-360deg);}
section.fixed-left > header.logo  img:hover { transition: all 1s ease; transform: rotateZ(-180deg); }
    
    /**nav - main**/
    section.fixed-left > nav.main-nav { 
        position: relative;
        width: 100%; height: auto;
        top: 0%; left: 0%;
        margin: 0; padding: 0;}
        section.fixed-left > nav.main-nav > ul{ 
            position: relative;
            width: auto; height: 100%;
            margin: 0; padding: 0;
            list-style-type: none;}
            nav.main-nav > ul > a, nav.main-nav > ul > a:visited { 
                text-decoration: none;
                font-size: 1em;
                color: #03597A;}
            nav.main-nav > ul > a:hover { color: #fff; }
            nav.main-nav > ul li {
                position: relative;
                display: block;
                text-align: center;
                padding: 3%;}
    /**Footer - social-nav**/
    footer.social-nav { 
        position: absolute;
        bottom: 0;
        width: 100%; height: auto;}
        footer.social-nav > ul {
            margin: 0; padding: 0;
            list-style-type: none;
            width: 100%; height: 100%;
            text-align: center;}
            footer.social-nav > ul > a, footer.social-nav > ul > a:visited { 
                text-decoration: none;
                font-size: 2.0em;
                color: #03597A;}
            footer.social-nav > ul > a:hover{
                color: #fff;}
                footer.social-nav > ul li { 
                    position: relative;
                    width: auto; height: auto;
                    display: inline;}
    footer.social-nav > p.copyright { 
        position: relative;
        top: 0; left: 0;
        margin: 0; padding: 2%;
        text-align: center;
        color: #28AADC;
        background: #03597A;
        font-size: .8em;}

/** main - responsive-right
********************************/

main.responsive-right { 
    position: relative;
    top: 0; left: 20.83333333333333%;
    width: 79.16666666666667%;
    height: 100%;
    transition: all .5s ease;
    margin:0; padding:0;}
    main.responsive-right > div.page { 
        position: relative;
        top: 0; left:0;
        margin: 0; padding: 0;
        width:90%; min-height: 500px;}

        div.page > header.nav-top { 
            position: relative;
            top: 0; left: 0;
            padding: 5%;}
        div.page > header.nav-top::after { display: block; clear:both; content: '';} 
            header.nav-top > ul { 
                position: relative;
                top: 0; left: 0;
                list-style-type: none;
                display: block;
                width: 100%;}
            header.nav-top > ul::after { display: block; clear:both; content: ''; }
                header.nav-top > ul li{
                    display: inline;
                    width: auto;
                    float: right;
                    padding: .6% 3% .6%  3%;
                    background: linear-gradient(to right, #28AADC 50%, rgba(255,255,255,0) 50%);
                    background-size: 200% 100%;
                    background-position: right bottom;
                    transition:all .7s ease;
                    border-left: 3px solid #00648C;}
                header.nav-top > ul li:first-child { border-right: 3px solid #00648C; }
                header.nav-top > ul li:hover { 
                    background-position:left bottom;}
                    header.nav-top > ul li > a { 
                        text-decoration: none;
                        font-size: .85em;
                        color: #03597A;
                        transition: all 1s ease;
                        font-weight: 600;}

        div.page > section.main-content { 
            position: relative;
            width: 100%;
            height: auto;
            top:0; left: 0;}
            div.page > section.main-content::before{ 
                display: block;
                content:'';
                border-top: 2px solid #ddd;
                width: 95%; 
                margin-left: 5%;
                margin-bottom: 5%;}
            section.main-content > header.title { 
                width: 95%; height: auto;
                margin-left: 5%; margin-bottom: 4%;
                padding-bottom: 3%;
                border-bottom: 2px solid #ddd;}
                    header.title > p { 
                        font-size: 1.0em; 
                        font-family: "Oxygen", sans-serif; 
                        color: #555;
                        font-weight: 400;}
            section.main-content > div.two-col { 
                position: relative;
                top: 0; left: 0;
                width: 100%;
                height: auto;
                margin-bottom: 4%;  }
            section.main-content > div.two-col::after { display: block; content: ""; clear: both; }
                div.two-col > article { 
                    position: relative;
                    width: 45%;
                    height: auto;
                    float: left;
                    margin-left: 5%;}
                div.two-col > article::after { display: block; content: ""; clear: both; }
                        div.two-col > article > header { position: relative; width: 100%; height: auto; margin: 0; padding: 0; }
                                div.two-col > article > h2 > a { color : inherit; }
                                div.two-col > article > h2 > a:hover  { opacity: .7; }
                            div.two-col > article > header img { display: block; width: 100%; height: auto; }

                div.two-col > article > footer {
                    position: relative;
                    width: 100%;
                    top: 0; left: 0;}
                div.two-col > article > footer::after { display: block; content: ""; clear: both;}
                    div.two-col > article > footer > ul.meta { 
                        list-style-type: none;
                        position: relative;
                        width: 100%;
                        height: auto;}
                    div.two-col > article > footer > ul.meta::after { display: block; content: ""; clear: both;}
                        div.two-col > article > footer > ul.meta > li { 
                            display: inline;
                            float: left;}
                            ul.meta > li.tag { padding-left: 20%; }
                            ul.meta > li.date::before { display: inline; font-family: FontAwesome; content: "\f133"; color: #B7B7B7; }
                            ul.meta > li.tag::before { display: inline; font-family: FontAwesome; content: "\f02b"; color: #B7B7B7; }
                                ul.meta > li > a, ul.meta > li > a:visited { text-decoration:none; font-size: .85em !important; color: #B7B7B7 !important; }
                                ul.meta > li > a:hover { color: #555 !important; }
            /**Single-Post-Article**/
        section.main-content > article.single-post { 
            width: 75%;
            height: auto;
            margin-left: 15%;}
            article.single-post > header.single-post-header { 
                position: relative;
                width: 100%;
                height: auto;}
                header.single-post-header > h1.single-post-title { 
                    font-weight: 700;
                    margin-bottom: 2%;}
                header.single-post-header > div.single-post-meta { 
                    position: relative;
                    top: 0; left: 0;
                    width: 100%;
                    height: auto;}
                    div.single-post-meta > ul.metas { 
                        list-style-type: none;
                        width: 100%;
                        height: auto;}
                        ul.metas > li { 
                            display: inline; 
                            margin-left: 5%;}
                            ul.metas > li > a { 
                                font-size: .75em;
                                text-decoration: none;
                                color: #aaa;
                                letter-spacing: .17em;
                                font-weight: 300;}
                            ul.metas > li > a:hover { color: #555; font-weight: 600;}
                            ul.metas > li.date { margin-left: 0;}
                            ul.metas > li.date::before { display: inline; font-size: .8em; font-family: FontAwesome; content: "\f133"; color: #B7B7B7; padding-right: 1.25%;}
                            ul.metas > li.tag::before { display: inline; font-size: .8em; font-family: FontAwesome; content: "\f02b"; color: #B7B7B7; padding-right: 1.25%;}
                header.single-post-header > p.single-post-excerpt { 
                    color: rgba(112,112,112,1.0);
                    text-shadow: 1px 1px 1px rgba(79,79,79,0.005);
                    line-height: 2em; }
            article.single-post > div.single-post-image {
                width: 100%; height: auto;
                margin-top: 3.5%;}
                div.single-post-image > img { width: 100%; height: auto; }
            /**Main single-post-article-content **/
article.single-post > div.single-post-body { 
    position: relative;
    top: 0; left: 0;
    text-align: justify;
}
div.single-post-body > h2 { 
    font-weight: 600;
    font-size: 1.7em;
    color: rgb(59,59,59);
    margin: 0;
    margin-top: 6.5%;
}
div.single-post-body > p {
    color: rgba(112,112,112,1.0);
    text-shadow: 1px 1px 1px rgba(79,79,79,0.005);
    line-height: 2em;
}
div.single-post-body img { 
    width: 100%; height: auto;
}
div.single-post-body > ol{
    color: rgba(112,112,112,1.0);
    text-shadow: 1px 1px 1px rgba(79,79,79,0.005);
    line-height: 2em;
    font-size: .9em;
    font-weight: 300;
}

pre { overflow-x: auto; }
pre > code { overflow-x: auto; }

/**
 * About me page css
 */

section.main-content > div.about-me {
    width: 45%;
    height: auto;
    margin-left: 5%;
    margin-top: 0px !important;
    float: left;
}

section.main-content > div.about-skills {
    width: 48%;
    height: auto;
    min-height: 400px;
    float: left;
    margin-left: 2%;
}

div.about-me > div.intro{
    position: relative;
    width: 100%;
    height: auto;
}

div.intro > h3 {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 1.6rem;
    border-bottom: 2px solid #717171;
    margin-bottom: 0 !important;
    padding-top: 15px;
}

div.intro > p {
    font-size: .9rem;
    font-family: "Oxygen", sans-serif;
    text-align: justify;
    margin-top: 10px !important;
}

div.about-skills > h3 {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 1.6rem;
    border-bottom: 2px solid #717171;
    margin-bottom: 0 !important;
    padding-top: 15px;
}

.progress {
    width: 100%;
    height: 30px;
    font-family: "Oxygen", sans-serif;
    font-weight: bold;
    line-height: 1.8;
    color: #fff;
}

.p-wrap {
    background: #28AADC;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
    text-align: left;
    padding-left: 10px;
}

.p-wrap .p-bar {
    background: #fff;
    left: 0;
    position: absolute;
    top: 0;
}

.p-bar {
    text-align: left;
    padding-left: 5px;
    color: #555;
}

div.about-skills > a {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 1.6rem;
    border-bottom: 2px solid #717171;
    margin-bottom: 0 !important;
    padding-top: 15px;
    text-decoration: none;
    color: #555;
    font-weight: bold;
}

div.about-skills > a:after {
    position: absolute;
    display: inline-block;
    content: "\1F4C3";
    font-size: 2.5rem;
}

/** aside - toggle
*******************************/

label[for='burger-menu'] { display: none; }
input[type=checkbox].burger-menu { display: none; }
input[type=checkbox]:checked.burger-menu { display:none; }

label[for='toggle-menu'] { 
    position: fixed;
    right: 0;
    bottom: 10%;
    width: 35px;
    background: #28AADC;
    height: 40px;
    font-size: .9em;
    color: #fff;
    padding: 2%;
    z-index: 1001;
    text-align: center;
    transition: all .5s ease;
    border-radius: 2em 0 0 2em;
    display: none;
}

label[for='toggle-menu']:before { 
    font-family: FontAwesome;
    content: "\f053";
    font-size: 2.5em;
    padding: 0;
    margin: 0;
    transition: all .5s ease;
    display: inline-block ;
    cursor: pointer;
}

input[type=checkbox].toggle-menu { display: none; }
input[type=checkbox]:checked.toggle-menu { display:none; }

input[type=checkbox]:checked.toggle-menu ~ label[for='toggle-menu'] ~ section.fixed-left { 
    right: 0;
    -webkit-box-shadow: -8px 0px 25px -9px rgba(0,0,0,1);
    -moz-box-shadow: -8px 0px 25px -9px rgba(0,0,0,1);
    box-shadow: -8px 0px 25px -9px rgba(0,0,0,1);
}

input[type=checkbox]:checked.toggle-menu ~  main.responsive-right { 
    left: -60%;
}
input[type=checkbox]:checked.toggle-menu + label[for='toggle-menu']{
    right: 60%;
    -webkit-box-shadow: -8px 0px 33px -6px rgba(0,0,0,1);
    -moz-box-shadow: -8px 0px 33px -6px rgba(0,0,0,1);
    box-shadow: -8px 0px 33px -6px rgba(0,0,0,1);
}

input[type=checkbox]:checked.toggle-menu + label[for='toggle-menu']::before{
    transform:  rotateY(1260deg);
}


input[type=checkbox]:checked.toggle-menu ~ label[for='toggle-menu'] ~ #overlay { 
    display: block;
}
    

@media screen and (min-width: 1400px) {
    body { font-size: 20px; }
    p { font-size: .9em; }
}

@media screen and (max-width: 800px) {
    body { font-size: 14px; }
    p { font-size: .8em; }
    section.fixed-left > header.logo > img { width: 35%; }
    nav.main-nav > ul > a, nav.main-nav > ul > a:visited { font-size: 1.3em; }
    section.main-content > div.two-col { margin-bottom: 10%; }
    div.intro > h3 { font-size: 1.4rem; }
    main.responsive-right > div.page { margin: 0 auto; }
    .single-post, .about-me, .about-skills { width: 100% !important; margin-left: 0 !important;}
}

@media screen and (max-width: 600px) {
    section.fixed-left > header.logo > img { width: 45%;}
    ul.meta > li.date::before { font-size: .75em; }
    ul.meta > li.tag::before { font-size: .75em; }
    ul.meta > li > a, ul.meta > li > a:visited { font-size: .70em; }
}

@media screen and (max-width: 530px) {
    section.fixed-left > header.logo > img { width: 55%;}
    ul.meta > li.date::before { font-size: .65em; }
    ul.meta > li.tag::before { font-size: .65em; }
    ul.meta > li > a, ul.meta > li > a:visited { font-size: .60em; }
}

@media screen and (max-width: 700px) {
    label[for='toggle-menu'] { 
        display: block;
    }
    section.fixed-left { 
        right: -40%;
        width: 41%;
        transition: all .5s ease;
        } 
    section.fixed-left > header.logo > img { width: 35%;}
    main.responsive-right { width: 100%; left: 0;}
    div.page > section.main-content{
        width: 100%;
        padding: 0;
    }
                div.page > section.main-content::before{ 
        width: 100%;
        margin-left: 0;
    }
    input[type=checkbox]:checked.toggle-menu + label[for='toggle-menu']{
        right: 40%;
    }
    input[type=checkbox]:checked.toggle-menu ~  main.responsive-right { 
        left: -40%;
    }
    section.main-content > header.title { width: 100%; margin-left: 0; margin-bottom: 7;}

    div.two-col > article:first-child { margin-left: 0;}
    div.two-col > article { width: 47.5%;}
    div.two-col > article:last-child { margin-left: 5%; }
    footer.social-nav > ul > a, footer.social-nav > ul > a:visited { font-size: 2.5em; }

}

@media screen and (max-width: 500px) {
    div.two-col > article { width: 100%; float: none; margin-left: 0%; margin-bottom: 15%;}
    div.two-col > article:last-child { margin-left: 0%; }
    div.two-col > article > h2 { font-size: 2em; }
    div.two-col > article > p { font-size: 1.1em; }
    ul.meta > li > a { font-size: .9em; }
    input[type=checkbox]:checked.toggle-menu + label[for='toggle-menu']{
        right: 60%;
    }
    input[type=checkbox]:checked.toggle-menu ~  main.responsive-right { 
        left: -60%;
    }
    section.fixed-left { 
    right: -60%;
    width: 61%;
    transition: all .5s ease;
    } 
    section.main-content > header.title { width: 100%; margin-left: 0; margin-bottom: 10%;}
    section.main-content > header.title > h1 { margin-bottom: 0; }
    header.single-post-header > h1.single-post-title { font-size: 1.4em; }
    div.single-post-body > h2 { font-size: 1.2em; }
}

@media screen and (max-height: 440px) {
    section.fixed-left { 
        position: relative;
        top: 0; left: 0;
        width: 100%;
        height: auto;
        z-index: 4 !important;}
    section.fixed-left::after { display: block; content: ""; clear: both; }
        section.fixed-left > header.logo { 
            width: 25%;
            z-index: 5;
            height: auto;
            top: 0; left: 0;
            padding: 0; margin: 0;
            padding-top: 2.5%;
            padding-bottom: 2.5%;
            position: relative;
            float: left;}
        /** Reseting from portrait to landscape **/
        #overlay { display: none !important; }
        main.responsive-right { left: 2% !important; }
        label[for='toggle-menu'] { display: none;}
        input[type=checkbox].toggle-menu { display: none; }
        input[type=checkbox]:checked.toggle-menu { display: none; }
    
        label[for='burger-menu'] { display: block; z-index: 6;}
        label[for='burger-menu'] { 
            position: relative;
            margin-right: 2.5%;
            margin-top: 3%;
            width: 10%;
            height: 10%;
            color: #fff;
            text-align: center;
            transition: all .5s ease;
            float: right;
        }
        label[for='burger-menu']:before { 
            font-family: FontAwesome;
            content: "\f0c9";
            font-size: 3em;
            padding: 0;
            margin: 0;
            transition: all .5s ease;
            display: inline-block;
            cursor: pointer;}
    input[type=checkbox].burger-menu:checked + label[for='burger-menu'] ~ nav.main-nav{
        display: block !important;}
    nav.main-nav {
        position: relative !important;
        z-index: 0 !important;
        display: none;
        width: 90% !important;
        padding-top: 16% !important;
        left: 5% !important;}
    footer.social-nav { display: none; }
}

@media screen and (max-height: 440px) and (min-width: 700px){
        .responsive-right{width: 95% !important;}
        div.page{
            width: 100% !important;
        }
}

@keyframes hidemenu {
    0% {
        opacity: .9;
    }
    50% {
        opacity: .5;
    }
    100% { 
        opacity: 0;
        display: none;
    }
}

@keyframes showmenu {
    0%, 100% {
        display: block !important;
    }
    50% {
        opacity: .5 !important;
    }
    100% { 
        opacity: 1 !important;
    }
}

/** Orientation Lock **/
/**
@media (orientation: landscape) {
  body {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
} **/


